* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(60deg, rgb(2, 56, 104), rgb(22, 144, 243));
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin: 30px 0;
}

input {
    padding: 5px;
    border: 1px solid white;
}

.info {
    font-size: 22px;
}

button {
    margin: 45px 15px;
    width: 220px;
    line-height: 55px;
    background-color: transparent;
    border: 3px solid white;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #fff;
    color: rgb(22, 144, 243);
    box-shadow: 5px 5px 10px darkblue;
}

.result {
    text-align: center;
    margin: 0 auto 15px auto;
    opacity: 1;
    animation: show;
}